.about-us {
  padding: 20px 0;

  background: url("../../img/bg-zigzag-line.svg") no-repeat 0 0;
  background-size: 320px 7px;
}

.about-us__wrapper {
  .wrapper();

  padding: 14px 0;
}

.about-us__list {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  list-style-type: none;
}

.about-us__item {
  position: relative;

  padding-top: 83px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
  }

  &--flower::before {
    top: 29px;
    left: 8px;

    width: 32px;
    height: 37px;

    background: url("../../img/icon-feature-flower.svg") no-repeat 0 0;
  }

  &--money::before {
    width: 47px;
    height: 27px;

    background: url("../../img/icon-feature-money.svg") no-repeat 0 0;
  }

  &--heart::before {
    top: 35px;
    left: 8px;

    width: 34px;
    height: 27px;

    background: url("../../img/icon-feature-heart.svg") no-repeat 0 0;
  }

  &--ball::before {
    top: 32px;
    left: 3px;

    width: 35px;
    height: 34px;

    background: url("../../img/icon-feature-ball.svg") no-repeat 0 0;
  }

  &--rocket::before {
    top: 33px;
    left: -6px;

    width: 55px;
    height: 23px;

    background: url("../../img/icon-feature-rocket.svg") no-repeat 0 0;
  }

  &--gift::before {
    top: 31px;
    left: 4px;

    width: 33px;
    height: 32px;

    background: url("../../img/icon-feature-gift.svg") no-repeat 0 0;
  }
}


@media (min-width: @tablet-width) {
  .about-us {
    padding: 68px 0 22px 0;

    background-size: 772px 17px;
  }

  .about-us__wrapper {
    padding: 0;
  }

  .about-us__title {
    margin-bottom: 53px;
    margin-left: -4px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .about-us__item {
    width: 334px;
    margin-bottom: 61px;
    padding-top: 50px;
    padding-right: 40px;

    font-size: 20px;
    line-height: 22px;

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--ball {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }

    &::before {
      top: 0;
    }

    &--flower::before {
      top: -4px;
    }

    &--money::before {
      top: -3px;
    }

    &--heart::before {
      top: 2px;
    }

    &--gift::before {
      top: -2px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    width: 1050px;
    margin: 0 auto;
    padding-top: 83px;
    padding-bottom: 28px;

    background-size: 1150px 23px;
  }

  .about-us__wrapper {
    width: 700px;
  }

  .about-us__item {
    width: 350px;
  }
}
