.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.contacts__email {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
}
