.contacts {
  padding: 42px 0 39px 0;

  background: url("../../img/bg-zigzag-line.svg") no-repeat 0 0;
  background-size: 320px 7px;
}

.contacts__wrapper {
  .wrapper();
}

.contacts__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts__block {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.contacts__table-row {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  vertical-align: top;
  color: #444444;

  td {
    padding-bottom: 25px;
  }
}

.contacts__table-definition {
  width: 95px;
}

.contacts__email {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
}

.contacts__map {
  position: relative;

  margin-bottom: 39px;

  &::after {
    content: "";
    position: absolute;
    top: 144px;
    left: 138px;

    width: 67px;
    height: 100px;

    background: url("../../img/icon-map-pin.svg") no-repeat 0 0;
  }
}

.contacts__map-image {
  width: 320px;

  vertical-align: bottom;
}

.contacts__write-button {
  font-size: 18px;

  padding-top: 13px;
}


@media (min-width: @tablet-width) {
  .contacts {
    padding: 58px 0 57px 0;

    background-size: 772px 18px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__block {
    width: 668px;
    margin-bottom: 27px;
  }

  .contacts__title {
    position: relative;

    width: 100%;
    margin-bottom: 24px;
    margin-left: -5px;
    padding: 20px 50px 20px 0;

    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      right: 3px;

      width: 47px;
      height: 81px;

      background: url("../../img/icon-flag.svg") no-repeat 0 0;
    }
  }

  .contacts__table {
    margin-left: -5px;

    tbody {
      display: flex;
    }
  }

  .contacts__table-row {
    display: block;
    width: 334px;

    font-size: 17px;
  }

  .contacts__email {
    font-size: 17px;
  }

  .contacts__table-definition {
    width: 75px;
  }

  .contacts__map {
    margin-bottom: 55px;

    &::after {
      top: 138px;
      left: 364px;
    }
  }

  .contacts__map-image {
    width: 768px;
  }

  .contacts__write-button {
    min-width: 220px;
    padding: 14px 39px;

    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
    padding-top: 97px;
    padding-bottom: 105px;

    background-size: 1050px;
  }

  .contacts__wrapper {
    justify-content: flex-start;
  }

  .contacts__block {
    width: 350px;
    margin-left: 170px;
    padding-top: 50px;
  }

  .contacts__title {
    margin-left: 0;

    font-size: 53px;
    line-height: 57px;

    &::before {
      top: 12px;
      left: -107px;
    }
  }

  .contacts__table {
    margin-left: 0;

    tbody {
      flex-direction: column;
    }
  }

  .contacts__table-definition {
    width: 75px;
  }

  .contacts__map {
    margin: 0;

    &::after {
      top: 145px;
      left: 240px;
    }
  }

  .contacts__map-image {
    width: 525px;
  }

  .contacts__write-button {
    margin-top: -52px;
    margin-left: 175px;
  }
}
