.order {
  padding-top: 22px;
}

.order__wrapper {
  .wrapper();
}

.order__description {
  margin: 0;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}
