.page-footer {
  padding: 25px 0;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  .wrapper();
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .page-footer__logo {
    display: block;
  }
}
