.page-main {
  width: 320px;
  margin: 0 auto;

  &--index {
    background: url("../img/hero-mobile@1x.jpg") no-repeat 50% -0.5% #f9f9f9;
    background-size: 575px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }

  &--catalog {
    padding-bottom: 26px;
  }

  &--form {
    padding-bottom: 55px;
  }
}

.page-main__wrapper {
  .wrapper();
}

.page-main__title {
  margin: 0;
  padding: 70px 0 122px 0;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;

  &--catalog {
    padding-bottom: 76px;

    background-color: #f1f1f1;
  }

  &--form {
    padding-bottom: 76px;

    background-color: #f1f1f1;
  }
}

.page-main__subtitle {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}


@media (min-width: @tablet-width) {
  .page-main {
    width: 768px;
    padding-top: 95px;

    &--index {
      background: url("../img/hero-tablet@1x.jpg") no-repeat 50% -2.2% #f9f9f9;
      background-size: 1150px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
      }
    }

    &--catalog {
      padding-top: 0;
      padding-bottom: 31px;
    }

    &--form {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  .page-main__title {
    padding-top: 0;
    padding-bottom: 373px;

    font-size: 43px;
    line-height: 50px;

    &--catalog {
      position: relative;

      padding-top: 37px;
      padding-bottom: 90px;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;

        width: 100%;
        min-height: 24px;

        background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
        background-size: contain;
      }
    }

    &--form {
      position: relative;

      padding-top: 36px;
      padding-bottom: 91px;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;

        width: 100%;
        min-height: 24px;

        background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
        background-size: contain;
      }
    }
  }

  .page-main__subtitle {
    font-size: 43px;
    line-height: 50px;
  }
}


@media (min-width: @desktop-width) {
  .page-main {
    width: 1150px;

    &--index {
      background: url("../img/hero-desktop@1x.jpg") no-repeat 50% -2.3% #f9f9f9;
      background-size: 1150px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }

    &--catalog {
      padding-bottom: 105px;
    }
  }

  .page-main__title {
    min-height: 468px;
    padding: 0 150px;

    font-size: 53px;
    line-height: 57px;

    &--catalog {
      padding-top: 35px;
      padding-bottom: 119px;

      &::after {
        min-height: 34px;
      }
    }

    &--form {
      padding-top: 35px;
      padding-bottom: 120px;

      &::after {
        min-height: 34px;
      }
    }
  }

  .page-main__subtitle {
    font-size: 53px;
    line-height: 57px;
  }
}
