.page-header {
  position: relative;

  border-bottom: 1px solid #ececec;
}

.page-header__wrapper {
  .wrapper();

  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 16px 0;
}

.page-header__logo {
  text-decoration: none;
}

.page-header__logo-image {
  width: 86px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: @mobile-width-only) {
  .page-header {
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;

    border: none;
  }

  .page-header__wrapper {
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 14px;
  }

  .page-header__logo {
    margin-right: 0;
  }

  .page-header__logo-image {
    width: 113px;
  }

  .main-nav__toggle {
    display: none;
  }
}


@media (min-width: @desktop-width) {
  .page-header {
    width: 1150px;
  }

  .page-header__wrapper {
    justify-content: center;
    padding: 8px 0 1px 0;
  }

  .page-header__logo {
    margin-right: 0;
  }

  .page-header__logo-image {
    width: 149px;
  }
}
