.page-main {
  width: 320px;
  margin: 0 auto;

  &--index {
    background: url("../../img/hero-mobile@1x.jpg") no-repeat 50% -0.5%;
  }

  &--catalog {
    padding-bottom: 26px;
  }
}

.page-main__wrapper {
  .wrapper();
}

.page-main__title {
  margin: 0;
  padding: 70px 0 122px 0;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;

  &--catalog {
    padding-bottom: 76px;

    background-color: #f1f1f1;
  }
}

.page-main__subtitle {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}


@media (min-width: @tablet-width) {
  .page-main {
    width: 768px;
    padding-top: 95px;

    &--index {
      background: url("../../img/hero-tablet@1x.jpg") no-repeat 50% -2.2%;
    }

    &--catalog {
      padding-top: 0;
    }
  }

  .page-main__title {
    padding-top: 0;
    padding-bottom: 373px;

    font-size: 43px;
    line-height: 50px;

    &--catalog {
      padding-bottom: 100px;
    }
  }

  .page-main__subtitle {
    font-size: 43px;
    line-height: 50px;
  }
}


@media (min-width: @desktop-width) {
  .page-main {
    width: 1150px;

    &--index {
      background: url("../../img/hero-desktop@1x.jpg") no-repeat 50% -2.3%;
    }
  }

  .page-main__title {
    padding: 0 150px 354px 150px;

    font-size: 53px;
    line-height: 57px;
  }

  .page-main__subtitle {
    font-size: 53px;
    line-height: 57px;
  }
}
