.parameter {
  border-collapse: collapse;
}

.parameter__row {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;

  border-bottom: 1px solid #ececec;
}

.parameter__text {
  width: 95px;
  padding: 10px 0;
}
