.production__title {
  font-size: 17px;
  line-height: 24px;
  font-display: 700px;
  font-weight: 400;
  color: #000000;
}

.production__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.production__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
}
