.reviews {
  padding: 30px 0;

  background: url("../../img/review@1x.jpg") no-repeat 0 0;
}

.reviews__wrapper {
  .wrapper();
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__main-text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.reviews__author {
  margin-bottom: 30px;
}

.reviews__author-name {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.reviews__author-instagram {
  margin: 0;

  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.reviews__slider-buttons {
  display: flex;
  margin-bottom: 38px;
}

.reviews__slider-button {
  flex-grow: 1;
  min-height: 50px;

  border: 1px solid #ececec;
  background-color: #ffffff;

  &--left {
    background: url("../../img/icon-left-arrow.svg") no-repeat 50% 50%;
  }

  &--right {
    background: url("../../img/icon-right-arrow.svg") no-repeat 50% 50%;
  }
}

.reviews__write-button {
  &--tablet {
    display: none;
  }
}

@media (min-width: 768px) {
  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .reviews__main-text {
    font-size: 17px;
  }

  .reviews__author-name {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__slider-buttons {
    width: 167px;
  }

  .reviews__slider-button {
    border: none;
  }

  .reviews__write-button {
    display: none;

    &--tablet {
      align-self: flex-start;
      display: block;
      min-width: 175px;
    }
  }
}

@media (min-width: 1150px) {
  .reviews__wrapper {
    width: 875px;
    margin-left: 225px;
  }
}
