.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 21px;

  list-style-type: none;

  border-bottom: 1px solid #e5e5e5;
}

.social__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  text-decoration: none;
  color: #231f20;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    align-items: center;
    padding-top: 13px;
    padding-bottom: 0;

    border-bottom: none;
  }
}
