.top-product__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.top-product__description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.top-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
}
